<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plan.report.mapper.EtlHldYearfcstMapper">

    <resultMap type="com.plan.report.domain.EtlHldYearfcst" id="EtlHldYearfcstResult">
        <result property="imMainInsuranceConfigId" column="IM_MAIN_INSURANCE_CONFIG_ID"/>
        <result property="item" column="item"/>
        <result property="loc" column="loc"/>
        <result property="startdate" column="startdate"/>
        <result property="uM1" column="u_m1"/>
        <result property="uM2" column="u_m2"/>
        <result property="uM3" column="u_m3"/>
        <result property="uM4" column="u_m4"/>
        <result property="uM5" column="u_m5"/>
        <result property="uM6" column="u_m6"/>
        <result property="uM7" column="u_m7"/>
        <result property="uM8" column="u_m8"/>
        <result property="uM9" column="u_m9"/>
        <result property="uM10" column="u_m10"/>
        <result property="uM11" column="u_m11"/>
        <result property="uM12" column="u_m12"/>
        <result property="uM13" column="u_m13"/>
        <result property="uM14" column="u_m14"/>
        <result property="uM15" column="u_m15"/>
        <result property="uM16" column="u_m16"/>
        <result property="uItemPattern" column="u_item_pattern"/>
        <result property="uCorporation" column="u_corporation"/>
        <result property="uFlag" column="u_flag"/>
        <result property="uComment" column="u_comment"/>
        <result property="uFilename" column="u_filename"/>
        <result property="uEditdate" column="u_editdate"/>
    </resultMap>


</mapper>
