<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plan.report.mapper.EtlHldVehicleloadlineMapper">

    <resultMap type="com.plan.report.domain.EtlHldVehicleloadline" id="EtlHldVehicleloadlineResult">
        <result property="imMainInsuranceConfigId" column="IM_MAIN_INSURANCE_CONFIG_ID"/>
        <result property="loadid" column="loadid"/>
        <result property="descr" column="descr"/>
        <result property="sourcestatus" column="sourcestatus"/>
        <result property="deststatus0" column="deststatus_0"/>
        <result property="item" column="item"/>
        <result property="source" column="source"/>
        <result property="dest" column="dest"/>
        <result property="qty" column="qty"/>
        <result property="availdate" column="availdate"/>
        <result property="availdate0" column="availdate_0"/>
        <result property="uItemPattern" column="u_item_pattern"/>
        <result property="uCorporation" column="u_corporation"/>
        <result property="uFlag" column="u_flag"/>
        <result property="uComment" column="u_comment"/>
        <result property="uFilename" column="u_filename"/>
        <result property="uEditdate" column="u_editdate"/>
    </resultMap>


</mapper>
