<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plan.report.mapper.EtlHldFcstFg26wMapper">

    <resultMap type="com.plan.report.domain.EtlHldFcstFg26w" id="EtlHldFcstFg26wResult">
        <result property="imMainInsuranceConfigId" column="IM_MAIN_INSURANCE_CONFIG_ID"/>
        <result property="uCorporation" column="u_corporation"/>
        <result property="dmdunit" column="dmdunit"/>
        <result property="dmdgroup" column="dmdgroup"/>
        <result property="loc" column="loc"/>
        <result property="startdate" column="startdate"/>
        <result property="uOh" column="u_oh"/>
        <result property="uW1" column="u_w1"/>
        <result property="uW2" column="u_w2"/>
        <result property="uW3" column="u_w3"/>
        <result property="uW4" column="u_w4"/>
        <result property="uW5" column="u_w5"/>
        <result property="uW6" column="u_w6"/>
        <result property="uW7" column="u_w7"/>
        <result property="uW8" column="u_w8"/>
        <result property="uW9" column="u_w9"/>
        <result property="uW10" column="u_w10"/>
        <result property="uW11" column="u_w11"/>
        <result property="uW12" column="u_w12"/>
        <result property="uW13" column="u_w13"/>
        <result property="uW14" column="u_w14"/>
        <result property="uW15" column="u_w15"/>
        <result property="uW16" column="u_w16"/>
        <result property="uW17" column="u_w17"/>
        <result property="uW18" column="u_w18"/>
        <result property="uW19" column="u_w19"/>
        <result property="uW20" column="u_w20"/>
        <result property="uW21" column="u_w21"/>
        <result property="uW22" column="u_w22"/>
        <result property="uW23" column="u_w23"/>
        <result property="uW24" column="u_w24"/>
        <result property="uW25" column="u_w25"/>
        <result property="uW26" column="u_w26"/>
        <result property="uFlag" column="u_flag"/>
        <result property="uComment" column="u_comment"/>
        <result property="uFilename" column="u_filename"/>
        <result property="uEditdate" column="u_editdate"/>
    </resultMap>


</mapper>
