<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plan.report.mapper.ScsCalendarMapper">

    <resultMap type="com.plan.report.domain.ScsCalendar" id="ScsCalendarResult">
        <result property="id" column="id"/>
        <result property="dayDt" column="day_dt"/>
        <result property="dayDesc" column="day_desc"/>
        <result property="yearNum" column="year_num"/>
        <result property="c445WeekCd" column="c445_week_cd"/>
        <result property="c445WeekNbr" column="c445_week_nbr"/>
        <result property="c445WeekDesc" column="c445_week_desc"/>
        <result property="c445WeekDateRange" column="c445_week_date_range"/>
        <result property="c445WeekStartDt" column="c445_week_start_dt"/>
        <result property="c445WeekEndDt" column="c445_week_end_dt"/>
        <result property="c445MonthCd" column="c445_month_cd"/>
        <result property="c445MonthNbr" column="c445_month_nbr"/>
        <result property="c445MonthDesc" column="c445_month_desc"/>
        <result property="c445MonthNm" column="c445_month_nm"/>
        <result property="c445MonthDateRange" column="c445_month_date_range"/>
        <result property="c445MonthStartDt" column="c445_month_start_dt"/>
        <result property="c445MonthEndDt" column="c445_month_end_dt"/>
        <result property="c445QuarterCd" column="c445_quarter_cd"/>
        <result property="c445QuarterDesc" column="c445_quarter_desc"/>
        <result property="c445QuarterNm" column="c445_quarter_nm"/>
        <result property="c445QuarterDateRange" column="c445_quarter_date_range"/>
        <result property="c445QuarterStartDt" column="c445_quarter_start_dt"/>
        <result property="c445QuarterEndDt" column="c445_quarter_end_dt"/>
        <result property="c445SemesterCd" column="c445_semester_cd"/>
        <result property="c445SemesterDesc" column="c445_semester_desc"/>
        <result property="c445SemesterNm" column="c445_semester_nm"/>
        <result property="c445YearCd" column="c445_year_cd"/>
        <result property="c445YearDesc" column="c445_year_desc"/>
        <result property="c4451pyDayDt" column="c445_1py_day_dt"/>
        <result property="c4452pyDayDt" column="c445_2py_day_dt"/>
        <result property="c4453pyDayDt" column="c445_3py_day_dt"/>
        <result property="c4454pyDayDt" column="c445_4py_day_dt"/>
        <result property="c4455pyDayDt" column="c445_5py_day_dt"/>
        <result property="gregMonthCd" column="greg_month_cd"/>
        <result property="gregMonthDesc" column="greg_month_desc"/>
        <result property="gregMonthNm" column="greg_month_nm"/>
        <result property="gregMonthDayNbr" column="greg_month_day_nbr"/>
        <result property="gregQuarterCd" column="greg_quarter_cd"/>
        <result property="gregQuarterDesc" column="greg_quarter_desc"/>
        <result property="gregQuarterNm" column="greg_quarter_nm"/>
        <result property="gregQuarterDayNbr" column="greg_quarter_day_nbr"/>
        <result property="gregSemesterCd" column="greg_semester_cd"/>
        <result property="gregSemesterDesc" column="greg_semester_desc"/>
        <result property="gregSemesterNm" column="greg_semester_nm"/>
        <result property="gregYearCd" column="greg_year_cd"/>
        <result property="gregYearDesc" column="greg_year_desc"/>
        <result property="c445MonthNmShort" column="c445_month_nm_short"/>
        <result property="c445WeekNmLong" column="c445_week_nm_long"/>
        <result property="gregMonthNmShort" column="greg_month_nm_short"/>
        <result property="gregMonthCdShort" column="greg_month_cd_short"/>
        <result property="long" column="long"/>
        <result property="perTag" column="PER_TAG"/>
        <result property="chineseWeekNbr" column="chinese_week_nbr"/>
        <result property="chineseWeekDesc" column="chinese_week_desc"/>
        <result property="chineseWeekDateRange" column="chinese_week_date_range"/>
        <result property="chineseWeekStartDt" column="chinese_week_start_dt"/>
        <result property="chineseWeekEndDt" column="chinese_week_end_dt"/>
        <result property="dayInChineseWeek" column="day_in_chinese_week"/>
        <result property="dayName" column="day_name"/>
        <result property="dayInYear" column="day_in_year"/>
        <result property="dayInQuarter" column="day_in_quarter"/>
        <result property="dailyConsumptionDays" column="Daily_Consumption_Days"/>
        <result property="dailyConsumptionDaysPy" column="Daily_Consumption_Days_PY"/>
        <result property="dailyConsumptionDaysMtd" column="Daily_Consumption_Days_MTD"/>
        <result property="dailyConsumptionDaysMtd2py" column="Daily_Consumption_Days_MTD_2PY"/>
        <result property="dailyConsumptionDaysQtd" column="Daily_Consumption_Days_QTD"/>
        <result property="dailyConsumptionDaysQtdPy" column="Daily_Consumption_Days_QTD_PY"/>
        <result property="dailyConsumptionDaysQtd2py" column="Daily_Consumption_Days_QTD_2PY"/>
        <result property="dailyConsumptionDaysWtd" column="Daily_Consumption_Days_WTD"/>
        <result property="dailyConsumptionDaysWtdPy" column="Daily_Consumption_Days_WTD_PY"/>
        <result property="dailyConsumptionDaysWtd2py" column="Daily_Consumption_Days_WTD_2PY"/>
        <result property="dailyConsumptionDaysYtd" column="Daily_Consumption_Days_YTD"/>
        <result property="dailyConsumptionDaysYtdPy" column="Daily_Consumption_Days_YTD_PY"/>
        <result property="dailyConsumptionDaysYtd2py" column="Daily_Consumption_Days_YTD_2PY"/>
        <result property="weeklyConsumptionDays" column="Weekly_Consumption_Days"/>
        <result property="weeklyConsumptionDaysPy" column="Weekly_Consumption_Days_PY"/>
        <result property="weeklyConsumptionDays2py" column="Weekly_Consumption_Days_2PY"/>
        <result property="weeklyConsumptionDays03mmt" column="Weekly_Consumption_Days_03MMT"/>
        <result property="weeklyConsumptionDays03mmtPy" column="Weekly_Consumption_Days_03MMT_PY"/>
        <result property="weeklyConsumptionDays03mmt2py" column="Weekly_Consumption_Days_03MMT_2PY"/>
        <result property="weeklyConsumptionDays06mmt" column="Weekly_Consumption_Days_06MMT"/>
        <result property="weeklyConsumptionDays06mmtPy" column="Weekly_Consumption_Days_06MMT_PY"/>
        <result property="weeklyConsumptionDays06mmt2py" column="Weekly_Consumption_Days_06MMT_2PY"/>
        <result property="weeklyConsumptionDays12mmt" column="Weekly_Consumption_Days_12MMT"/>
        <result property="weeklyConsumptionDays12mmt2py" column="Weekly_Consumption_Days_12MMT_2PY"/>
        <result property="weeklyConsumptionDays13wmt" column="Weekly_Consumption_Days_13WMT"/>
        <result property="weeklyConsumptionDays13wmtPy" column="Weekly_Consumption_Days_13WMT_PY"/>
        <result property="weeklyConsumptionDays13wmt2py" column="Weekly_Consumption_Days_13WMT_2PY"/>
        <result property="weeklyConsumptionDays26wmt" column="Weekly_Consumption_Days_26WMT"/>
        <result property="weeklyConsumptionDays26wmtPy" column="Weekly_Consumption_Days_26WMT_PY"/>
        <result property="weeklyConsumptionDays26wmt2py" column="Weekly_Consumption_Days_26WMT_2PY"/>
        <result property="weeklyConsumptionDays52wmt" column="Weekly_Consumption_Days_52WMT"/>
        <result property="weeklyConsumptionDays52wmtPy" column="Weekly_Consumption_Days_52WMT_PY"/>
        <result property="weeklyConsumptionDays52wmt2py" column="Weekly_Consumption_Days_52WMT_2PY"/>
        <result property="weeklyConsumptionDaysMtd" column="Weekly_Consumption_Days_MTD"/>
        <result property="weeklyConsumptionDaysMtdPy" column="Weekly_Consumption_Days_MTD_PY"/>
        <result property="weeklyConsumptionDaysMtd2py" column="Weekly_Consumption_Days_MTD_2PY"/>
        <result property="weeklyConsumptionDaysQtd" column="Weekly_Consumption_Days_QTD"/>
        <result property="weeklyConsumptionDaysQtdPy" column="Weekly_Consumption_Days_QTD_PY"/>
        <result property="weeklyConsumptionDaysQtd2py" column="Weekly_Consumption_Days_QTD_2PY"/>
        <result property="weeklyConsumptionDaysWtdPy" column="Weekly_Consumption_Days_WTD_PY"/>
        <result property="weeklyConsumptionDaysWtd2py" column="Weekly_Consumption_Days_WTD_2PY"/>
        <result property="weeklyConsumptionDaysYtd" column="Weekly_Consumption_Days_YTD"/>
        <result property="weeklyConsumptionDaysYtdPy" column="Weekly_Consumption_Days_YTD_PY"/>
        <result property="weeklyConsumptionDaysYtd2py" column="Weekly_Consumption_Days_YTD_2PY"/>
        <result property="monthlyConsumptionDays" column="Monthly_Consumption_Days"/>
        <result property="monthlyConsumptionDaysPy" column="Monthly_Consumption_Days_PY"/>
        <result property="monthlyConsumptionDays2py" column="Monthly_Consumption_Days_2PY"/>
        <result property="monthlyConsumptionDays03mmt" column="Monthly_Consumption_Days_03MMT"/>
        <result property="monthlyConsumptionDays03mmtPy" column="Monthly_Consumption_Days_03MMT_PY"/>
        <result property="monthlyConsumptionDays03mmt2py" column="Monthly_Consumption_Days_03MMT_2PY"/>
        <result property="monthlyConsumptionDays06mmt" column="Monthly_Consumption_Days_06MMT"/>
        <result property="monthlyConsumptionDays06mmtPy" column="Monthly_Consumption_Days_06MMT_PY"/>
        <result property="monthlyConsumptionDays06mmt2py" column="Monthly_Consumption_Days_06MMT_2PY"/>
        <result property="monthlyConsumptionDays12mmt" column="Monthly_Consumption_Days_12MMT"/>
        <result property="monthlyConsumptionDays12mmtPy" column="Monthly_Consumption_Days_12MMT_PY"/>
        <result property="monthlyConsumptionDays12mmt2py" column="Monthly_Consumption_Days_12MMT_2PY"/>
        <result property="monthlyConsumptionDaysQtd" column="Monthly_Consumption_Days_QTD"/>
        <result property="monthlyConsumptionDaysQtdPy" column="Monthly_Consumption_Days_QTD_PY"/>
        <result property="monthlyConsumptionDaysQtd2py" column="Monthly_Consumption_Days_QTD_2PY"/>
        <result property="monthlyConsumptionDaysYtd" column="Monthly_Consumption_Days_YTD"/>
        <result property="monthlyConsumptionDaysYtdPy" column="Monthly_Consumption_Days_YTD_PY"/>
        <result property="monthlyConsumptionDaysYtd2py" column="Monthly_Consumption_Days_YTD_2PY"/>
        <result property="quarterlyConsumptionDays" column="Quarterly_Consumption_Days"/>
        <result property="quarterlyConsumptionDaysPy" column="Quarterly_Consumption_Days_PY"/>
        <result property="quarterlyConsumptionDays2py" column="Quarterly_Consumption_Days_2PY"/>
        <result property="quarterlyConsumptionDaysYtd" column="Quarterly_Consumption_Days_YTD"/>
        <result property="quarterlyConsumptionDaysYtdPy" column="Quarterly_Consumption_Days_YTD_PY"/>
        <result property="quarterlyConsumptionDaysYtd2py" column="Quarterly_Consumption_Days_YTD_2PY"/>
        <result property="yearlyConsumptionDays" column="Yearly_Consumption_Days"/>
        <result property="yearlyConsumptionDaysPy" column="Yearly_Consumption_Days_PY"/>
        <result property="yearlyConsumptionDays2py" column="Yearly_Consumption_Days_2PY"/>
        <result property="fileName" column="file_name"/>
        <result property="updatedUser" column="updated_user"/>
        <result property="loadedTime" column="loaded_time"/>
    </resultMap>
    <select id="selectListVoPage" resultType="com.plan.report.domain.vo.ScsCalendarVo">
        <include refid="list"/>
    </select>

    <select id="selectListVo" resultType="com.plan.report.domain.vo.ScsCalendarVo">
        <include refid="list"/>
    </select>

    <sql id="list">
        select sc.id as id,
        sc.c445_week_cd as c445WeekCd,
        DATE_FORMAT(sc.c445_week_start_dt, '%Y-%m-%d') as c445WeekStartDt,
        DATE_FORMAT(sc.c445_week_end_dt, '%Y-%m-%d') as c445WeekEndDt,
        sc.c445_month_cd as c445MonthCd,
        DATE_FORMAT(sc.c445_month_start_dt, '%Y-%m-%d') as c445MonthStartDt,
        DATE_FORMAT(sc.c445_month_end_dt, '%Y-%m-%d') as c445MonthEndDt
        from scs_calendar sc
        <where>
            <if test="param.params.beginTime != null and param.params.beginTime != ''">
                <![CDATA[
                and sc.day_dt >= #{param.params.beginTime}
            ]]>
            </if>
            <if test="param.params.endTime != null and param.params.endTime != ''">
                <![CDATA[
                and sc.day_dt <= #{param.params.endTime}
            ]]>
            </if>
            <if test="param.ids != null and param.ids.length > 0">
                and sc.id in
                <foreach collection="param.ids" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </sql>



</mapper>
