<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plan.report.mapper.ScsFgFcstMapper">

    <resultMap type="com.plan.report.domain.ScsFgFcst" id="ScsFgFcstResult">
        <result property="id" column="id"/>
        <result property="corporation" column="corporation"/>
        <result property="itemCode" column="item_code"/>
        <result property="dmdgroup" column="dmdgroup"/>
        <result property="startdate" column="startdate"/>
        <result property="loc" column="loc"/>
        <result property="qty" column="qty"/>
        <result property="uFlag" column="u_flag"/>
        <result property="uComment" column="u_comment"/>
        <result property="fileName" column="file_name"/>
        <result property="editdate" column="editdate"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="versionNo" column="version_no"/>
    </resultMap>
    <select id="getStartDate" resultType="java.lang.String">
        select distinct sff.startdate
        from scs_fg_fcst sff
        where sff.parent_id != 0
        and sff.item_corporation = 'SCCSCM'
        <if test="bo.corporation != null and bo.corporation != ''">
            AND sff.corporation = #{bo.corporation}
        </if>
        <if test="bo.itemCode != null and bo.itemCode != ''">
            AND sff.item_code = #{bo.itemCode}
        </if>
        order by sff.startdate
    </select>
    <select id="listCorporation" resultType="map">
        SELECT
        sff.id,
        sff.item_code,
        sff.descr,
        sff.corporation,
        'TotFcst(PC)' as totFcst,
        <foreach collection="startDates" item="startDate" index="index" separator=",">
            SUM(IF(sff.startdate = #{startDate}, sff.qty, 0)) AS '${startDate}'
        </foreach>
        FROM scs_fg_fcst sff
        <where>
            sff.parent_id != 0
            and sff.item_corporation = 'SCCSCM'
            <if test="bo.corporation != null and bo.corporation != ''">
                AND sff.corporation = #{bo.corporation}
            </if>
            <if test="bo.itemCode != null and bo.itemCode != ''">
                AND sff.item_code = #{bo.itemCode}
            </if>
        </where>
        GROUP BY sff.corporation, sff.item_code
        ORDER BY item_code
    </select>
    <select id="getTotal" resultType="java.util.Map">
        SELECT sff.startdate, SUM(sff.qty) AS total_qty
        FROM scs_fg_fcst sff
        <where>
            sff.parent_id != 0
            AND sff.item_corporation = 'SCCSCM'
            <if test="bo.corporation != null and bo.corporation != ''">
                AND sff.corporation = #{bo.corporation}
            </if>
            <if test="bo.itemCode != null and bo.itemCode != ''">
                AND sff.item_code = #{bo.itemCode}
            </if>
            AND sff.startdate IN
            <foreach collection="startDates" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </where>
        GROUP BY sff.startdate
    </select>
</mapper>
