<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plan.report.mapper.ScsInventoryHistoryMapper">

    <resultMap type="com.plan.report.domain.ScsInventoryHistory" id="ScsInventoryHistoryResult">
        <result property="id" column="id"/>
        <result property="corporation" column="corporation"/>
        <result property="itemCode" column="item_code"/>
        <result property="descr" column="descr"/>
        <result property="descrEn" column="descr_en"/>
        <result property="bppBrand" column="bpp_brand"/>
        <result property="bppFlavor" column="bpp_flavor"/>
        <result property="loc" column="loc"/>
        <result property="locOwnCode" column="loc_own_code"/>
        <result property="availdate" column="availdate"/>
        <result property="scclItemCode" column="sccl_item_code"/>
        <result property="qty" column="qty"/>
        <result property="expdate" column="expdate"/>
        <result property="itemPattern" column="item_pattern"/>
        <result property="uFlag" column="u_flag"/>
        <result property="uComment" column="u_comment"/>
        <result property="fileName" column="file_name"/>
        <result property="editdate" column="editdate"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="versionNo" column="version_no"/>
    </resultMap>


</mapper>
