<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plan.report.mapper.ScsItemMapper">

    <resultMap type="com.plan.report.domain.ScsItem" id="ScsItemResult">
        <result property="id" column="id"/>
        <result property="item" column="item"/>
        <result property="corporation" column="corporation"/>
        <result property="itemPattern" column="item_pattern"/>
        <result property="itemCode" column="item_code"/>
        <result property="descr" column="descr"/>
        <result property="descrEn" column="descr_en"/>
        <result property="descrShort" column="descr_short"/>
        <result property="category" column="category"/>
        <result property="categoryDescr" column="category_descr"/>
        <result property="subcategory" column="subcategory"/>
        <result property="subcategoryDescr" column="subcategory_descr"/>
        <result property="brand" column="brand"/>
        <result property="brandDescr" column="brand_descr"/>
        <result property="flavor" column="flavor"/>
        <result property="flavorDescr" column="flavor_descr"/>
        <result property="packageCode" column="packageCode"/>
        <result property="packageDescr" column="package_descr"/>
        <result property="subflavor" column="subflavor"/>
        <result property="subflavorDescr" column="subflavor_descr"/>
        <result property="packageCap" column="package_cap"/>
        <result property="packageCapDescr" column="package_cap_descr"/>
        <result property="scclCode" column="sccl_code"/>
        <result property="cblCode" column="cbl_code"/>
        <result property="zhCode" column="zh_code"/>
        <result property="family" column="family"/>
        <result property="spec" column="spec"/>
        <result property="specDescr" column="spec_descr"/>
        <result property="fruitCategory" column="fruit_category"/>
        <result property="uom" column="uom"/>
        <result property="uomRate1" column="uom_rate1"/>
        <result property="uomRate2" column="uom_rate2"/>
        <result property="uc" column="uc"/>
        <result property="pc" column="pc"/>
        <result property="bppCode" column="bpp_code"/>
        <result property="hierarchy2" column="hierarchy2"/>
        <result property="carbonic" column="carbonic"/>
        <result property="abc" column="abc"/>
        <result property="uNew" column="u_new"/>
        <result property="region" column="region"/>
        <result property="status" column="status"/>
        <result property="fileName" column="file_name"/>
        <result property="versionNo" column="version_no"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <select id="selectListFgVoPage" resultType="com.plan.report.domain.vo.ScsItemFgVo">
        <include refid="list"/>
    </select>
    <select id="selectListFgVo" resultType="com.plan.report.domain.vo.ScsItemFgVo">
        <include refid="list"/>
    </select>
    <sql id="list">
        select
        si.id as id,
        si.item as item,
        si.item_code as itemCode,
        si.descr as itemDescr,
        si.descr_en as itemDescrEn,
        si.uom_rate1 as uomRate1,
        sbm.category as category,
        sbm.category_descr as categoryDescr,
        sbm.brand as brand,
        sbm.brand_descr as brandDescr,
        sbm.flavor as flavor,
        sbm.flavor_descr as flavorDescr,
        sbm.package_code as packageCode,
        sbm.package_descr as packageDescr,
        si.spec as spec,
        si.spec_descr as specDescr,
        si.pc as pc,
        si.uc as uc,
        si.hierarchy2 as hierarchy2,
        sbm.bpp_descr as bppHierarchy2,
        sbm.bpp_code as bppCode,
        sbm.category_descr as bbpCategoryDescr,
        sbm.subcategory_descr as bbpSubcategoryDescr,
        sbm.brand as bbpBrand,
        sbm.flavor as bbpFlavor,
        si.abc as abc,
        si.u_new as uNew,
        si.status as status
        from scs_item si
        left join scs_bpp_master sbm on sbm.bpp_code = si.bpp_code
        <where>
            si.item_pattern = 'FG'
            <if test="param.corporation != null and param.corporation != ''">
                and si.corporation = #{param.corporation}
            </if>
            <if test="param.itemCode != null and param.itemCode != ''">
                and si.item_code like concat('%', #{param.itemCode}, '%')
            </if>
            <if test="param.itemDescr != null and param.itemDescr != ''">
                and si.descr like concat('%', #{param.itemDescr}, '%')
            </if>
            <if test="param.ids != null and param.ids.length > 0">
                and si.id in
                <foreach collection="param.ids" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </sql>

</mapper>
