<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plan.report.mapper.ScsIfExceptionLogMapper">

    <resultMap type="com.plan.report.domain.ScsIfExceptionLog" id="ScsIfExceptionLogResult">
        <result property="id" column="id"/>
        <result property="corporation" column="corporation"/>
        <result property="fileName" column="file_name"/>
        <result property="etlTableName" column="etl_table_name"/>
        <result property="uItemPattern" column="u_item_pattern"/>
        <result property="itemCode" column="item_code"/>
        <result property="loc" column="loc"/>
        <result property="locOwnCode" column="loc_own_code"/>
        <result property="uComment" column="u_comment"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>


</mapper>
