<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plan.report.mapper.ScsKitMapMapper">

    <resultMap type="com.plan.report.domain.ScsKitMap" id="ScsKitMapResult">
        <result property="id" column="id"/>
        <result property="itemId" column="item_id"/>
        <result property="item" column="item"/>
        <result property="locId" column="loc_id"/>
        <result property="locCode" column="locCode"/>
        <result property="kitItemId" column="kit_item_id"/>
        <result property="kitItem" column="kit_item"/>
        <result property="convfactor" column="convfactor"/>
        <result property="productHierarchy" column="product_hierarchy"/>
        <result property="uFlag" column="u_flag"/>
        <result property="uComment" column="u_comment"/>
        <result property="versionNo" column="version_no"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="selectListVoPage" resultType="com.plan.report.domain.vo.ScsKitMapVo">
        <include refid="list"/>
    </select>

    <select id="selectListVo" resultType="com.plan.report.domain.vo.ScsKitMapVo">
        <include refid="list"/>
    </select>

    <select id="selectErrorListVo" resultType="com.plan.report.domain.vo.ScsKitMapVo">
        <include refid="errorList"/>
    </select>

    <sql id="list">
        select kit.id as id,
        a.corporation as corporation,
        a.item_code as itemCode,
        a.descr as itemDescr,
        b.item_code as kitCode,
        b.descr as kitDescr,
        loc.loc_own_code as locCode,
        loc.descr as locDescr,
        kit.convfactor as convfactor,
        kit.product_hierarchy as productHierarchy,
        kit.u_flag as uFlag,
        kit.u_comment as uComment
        from scs_kit_map kit
        inner join scs_item a on a.id = kit.item_id
        inner join scs_item b on b.id = kit.kit_item_id
        left join scs_loc loc on loc.id = kit.loc_id
        <where>
            <if test="param.corporation != null and param.corporation != ''">
                and a.corporation = #{param.corporation}
            </if>
            <if test="param.locCode != null and param.locCode != ''">
                and loc.locCode = #{param.locCode}
            </if>
            <if test="param.itemCode != null and param.itemCode != ''">
                and a.item_code like concat('%', #{param.itemCode}, '%')
            </if>
            <if test="param.kitCode != null and param.kitCode != ''">
                and b.item_code like concat('%', #{param.kitCode}, '%')
            </if>
        </where>
    </sql>
    <sql id="errorList">
        <include refid="list"/>
        <![CDATA[
            group by b.item_code, loc.loc_own_code, a.corporation
            having sum(kit.convfactor) <> 1
         ]]>
    </sql>

</mapper>
