<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plan.report.mapper.TDcBppMasterMapper">

    <resultMap type="com.plan.report.domain.TDcBppMaster" id="TDcBppMasterResult">
        <result property="imMainInsuranceConfigId" column="IM_MAIN_INSURANCE_CONFIG_ID"/>
        <result property="bppCode" column="bpp_code"/>
        <result property="bppDescr" column="bpp_descr"/>
        <result property="uCategory" column="u_category"/>
        <result property="uCategoryDescr" column="u_category_descr"/>
        <result property="uSubcategory" column="u_subcategory"/>
        <result property="uSubcategoryDescr" column="u_subcategory_descr"/>
        <result property="uBrand" column="u_brand"/>
        <result property="uBrandDescr" column="u_brand_descr"/>
        <result property="uFlavor" column="u_flavor"/>
        <result property="uFlavorDescr" column="u_flavor_descr"/>
        <result property="uPackage" column="u_package"/>
        <result property="uPackageDescr" column="u_package_descr"/>
        <result property="beverage" column="beverage"/>
        <result property="uStatus" column="u_status"/>
        <result property="bppShort" column="bpp_short"/>
        <result property="uFgKitRate" column="u_fg_kit_rate"/>
        <result property="uUcRate" column="u_uc_rate"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>


</mapper>
