<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plan.report.mapper.TDcKitMapMapper">

    <resultMap type="com.plan.report.domain.TDcKitMap" id="TDcKitMapResult">
        <result property="id" column="id"/>
        <result property="corporation" column="corporation"/>
        <result property="item" column="item"/>
        <result property="itemDescr" column="item_descr"/>
        <result property="loc" column="loc"/>
        <result property="locDescr" column="loc_descr"/>
        <result property="kitCode" column="kit_code"/>
        <result property="kitDescr" column="kit_descr"/>
        <result property="convfactor" column="convfactor"/>
        <result property="productHierarchy" column="product_hierarchy"/>
        <result property="uComment" column="u_comment"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>


</mapper>
